# BACKEND
BACKEND_PROT=http                   # http or https
BACKEND_HOST=localhost              # localhost or IP address
BACKEND_PORT=3000

# FRONTEND
FRONTEND_PROT=http                  # http or https
FRONTEND_HOST=localhost             # localhost or IP address
FRONTEND_PORT=80

# DATABASE
# NestJS uses TypeORM
# The configuration below follows TypeORM
# Doc: https://typeorm.io/data-source-options
DATABASE_TYPE=postgres
DATABASE_HOST=db
DATABASE_PORT=5432
DATABASE_NAME=app
DATABASE_USER=root
DATABASE_PASSWORD=root
DATABASE_SYNC=true

# SMTP (Required for sending emails)
# You can use any SMTP server or create a free account https://www.brevo.com/
SMTP_HOST=smtp-relay.brevo.com
SMTP_PORT=587
SMTP_USER=                          # SMTP Server Username         
SMTP_PASSWORD=                      # SMTP Server Password

# JWT SECRET - CHANGE THIS VALUE!
# Secret can be generated with the node command below:
# node -e "console.log(require('crypto').randomBytes(32).toString('hex'));"
JWT_SECRET=abcdefghijklmnopqrstuvwxyz