<form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()" *ngIf="!(authService.user$ | async)">
    <mat-form-field>
        <mat-label>Email</mat-label>
        <input type="email" matInput formControlName="email">
        <mat-error *ngIf="emailErrors?.['email']">Email is invalid</mat-error>
        <mat-error *ngIf="emailErrors?.['required']">Email is required</mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Password</mat-label>
        <input type="password" matInput formControlName="password">
        <mat-error *ngIf="passwordErrors?.['required']">Password is required</mat-error>
    </mat-form-field>
    <button mat-flat-button color="primary" type="submit" [disabled]="!loginForm.valid">Login</button>
</form>

<div class="not-activated-notice" *ngIf="(authService.user$ | async) && !(authService.user$ | async)?.isActivated">
    Your account is not activated, please check your email.
</div>