# BACKEND
BACKEND_PROT=https                  # http or https
BACKEND_HOST=                       # hostname (ex: sub-api.domain.com)
BACKEND_PORT=3000

# FRONTEND
FRONTEND_PROT=https                 # http or https
FRONTEND_HOST=                      # hostname (ex: sub-web.domain.com)
FRONTEND_PORT=80

# DATABASE
# NestJS uses TypeORM
# The configuration below follows TypeORM
# Doc: https://typeorm.io/data-source-options
DATABASE_TYPE=postgres
DATABASE_HOST=db
DATABASE_PORT=5432
DATABASE_NAME=app
DATABASE_USER=root
DATABASE_PASSWORD=root
DATABASE_SYNC=false

# SMTP 
# Required for sending emails (for example in the user registration)
# You can use any SMTP server or create a free account https://www.brevo.com/
SMTP_HOST=smtp-relay.brevo.com
SMTP_PORT=587
SMTP_USER=                          # SMTP Server Username         
SMTP_PASSWORD=                      # SMTP Server Password

# JWT SECRET - CHANGE THIS VALUE!
# Secret can be generated with the node command below:
# node -e "console.log(require('crypto').randomBytes(32).toString('hex'));"
JWT_SECRET=abcdefghijklmnopqrstuvwxyz

# SSL CERTIFICATE ISSUANCE
DOMAIN_ADMIN=theo.godard@gmail.com

# JENKINS
JENKINS_ADMIN_ID=root                       
JENKINS_ADMIN_PASSWORD=root                 # IMPORTANT! Change this password
DOMAIN_JENKINS=jenkins.domain.com           # Jenkins hostname (ex: jenkins.domain.com)
JENKINS_URL=https://jenkins.domain.com      # Jenkins base url (ex: https://jenkins.domain.com)