<div class="col left-col">
    <div class="github-ref">
        <a href="https://github.com/godardth/typescript-fullstack-boilerplate" target="_blank">
            <fa-icon [icon]="faGithub"></fa-icon>typescript-fullstack-boilerplate
        </a>
    </div>
    <div class="logos">
        <div class="logo-column">
            <div class="logo-header">
                <img src="https://cdn4.iconfinder.com/data/icons/logos-and-brands/512/21_Angular_logo_logos-512.png" />
            </div>
            <div>Angular</div>
            <div class="sub-logos">
                <div class="sub-logo">
                    <div class="sub-logo-container">
                        <img src="https://cdn.jsdelivr.net/gh/angular-material-extensions/pages@master/assets/angular-material-extensions-logo.png" />
                    </div>
                    <div class="sub-logo-text">Material</div>
                </div>
                <div class="sub-logo">
                    <div class="sub-logo-container">
                        <img src="https://avatars.githubusercontent.com/u/1505683?s=48&v=4" />
                    </div>
                    <div class="sub-logo-text">FontAwesome</div>
                </div>
            </div>
        </div>
        <div class="logo-column">
            <div class="logo-header">
                <img src="https://docs.nestjs.com/assets/logo-small.svg" />
            </div>
            <div>NestJS</div>
            <div class="sub-logos">
                <div class="sub-logo">
                    <div class="sub-logo-container">
                        <img src="https://static-00.iconduck.com/assets.00/swagger-icon-1024x1024-09037v1r.png" />
                    </div>
                    <div class="sub-logo-text">Swagger</div>
                </div>
                <div class="sub-logo">
                    <div class="sub-logo-container">
                        <img src="https://avatars.githubusercontent.com/u/20165699?s=48&v=4" />
                    </div>
                    <div class="sub-logo-text">TypeORM</div>
                </div>
            </div>
        </div>
        <div class="logo-column">
            <div class="logo-header">
                <img src="https://www.postgresql.org/media/img/about/press/elephant.png" />
            </div>
            <div>PostgreSQL</div>
        </div>
    </div>
</div>

<div class="col right-col">
    <router-outlet></router-outlet>
</div>

